/* Center the Login Box */
.login-container {
    height: 100vh;
    background:   #144c85;
  }
  
  .login-box {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
  }
  
  h2 {

    font-weight: bold;
    color: white;
  }
  
  .text-primary {
    font-weight: bold;
  }
  form{
    color: antiquewhite;

  }
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .form-container {
    padding: 3rem;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f7fa;
  }
  
  .login-image {
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .claim-button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .form-section {
    padding: 20px;
    height: auto; /* Adjust height dynamically */
    max-height: 600px; /* Set a max height */
  }